body, h1, p, ul, li, main {
  margin: 0;
  padding: 0; 
  font: inherit;
  text-decoration: inherit;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main{
  height: 100%;
  width: 100%;
}

.grid {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid 10px #000;
  list-style: none;
  margin: auto;
  width: 600px;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.pos {
  float: left;
  display: block;
  border: solid 5px #ccc;
  background: #eee;
  margin: auto;
  width: 190px;
  height: 190px;
  text-align: center;
  position: relative;
}

.pos:hover {
  background: yellow;
}

.marked {
  background: white;
  font-family: serif;
  font-size: 124pt;
}

.marked:before {
  transform: translateY(-50%);
}

.with-x:before {
  content: "X";
}

.with-o:before {
  content: "O";
}
